body {
    box-sizing: border-box;
    margin: 0 auto;
}

.c0 {
    border: 2px solid red;
}

.c1 {
    background-color: purple;
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: green;
}

.c5 {
    background-color: yellow;
}

.c6 {
    background-color: darkorange;
}

.c7 {
    background-color: red;
}


.c0 {
    display: flex;
    flex-flow: row wrap; /* flex-flow is a shortcut: 
                            It combines "flex-direction" and "flex-wrap */
}

.c0 > div {
    flex-basis: 100%;
    height: 80px;
}


@media screen and (min-width: 600px) and (max-width: 1023px) {
    /* Watch out: 
        I need to make the rules to select the individual children very specific 
        => otherwise the rule ".c0 > div" above will win!
        => because ".c0 > div" is more specific than ".c3" !  
    */
    div.c3, div.c4, div.c5 {
        flex-basis: 33.33%;
    }
}

@media screen and (min-width: 1024px) {
    /* Watch out: 
        I need to make the rules to select the individual children very specific 
        => otherwise the rule ".c0 > div" above will win!
        => because ".c0 > div" is more specific than ".c3" !  
    */
    div.c1, div.c2, div.c6, div.c7 {
        flex-basis: 50%;
    }
    div.c3, div.c4, div.c5 {
        flex-basis: 33.33%;
    }
}