/* ----------------------
CSS STYLING OF THE INDEX
------------------------*/
* {
    margin: 0;                                  /* modern borderless layout*/
    padding: 0;
}

body {
    font-family: "lato", sans-serif;            /* choosing the default font*/
}

header {
    display: flex;
    align-items: center;
    height: 6.25vh;
    width: 100%;
    background-image: url(bg/banner.jpg);
    background-attachment: scroll;
    background-position: center;                /* positioning the header*/
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.25vh solid black;
    border-top: 0.25vh solid black;
}

.heading {
    width: 100%;                                /* tweaking the position of H1*/
    height: 5.5vh;
}

.heading h1 {
    font-size: 5vh;
    text-align: center;
    width: 100%;
    color: white;                               /* formating h1*/
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    text-shadow:
        -2px -2px black,
		2px -2px black,
		-2px 2px black,                         /* a little hack to create an outline*/
		2px 2px black;
}

nav {   
    float: left;
    display: block;                             /* basic deskop nivigation on the side*/
    width: 15vw;
}

.button {
    color: black;
    padding: 1vh 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;                      /* tweaking the navigation buttons look*/
    margin: 0px 0px;
    cursor: pointer;
    width: 15vw;
    font-size: 1.5em;
}

.button:hover {
    background-color: #444;                     /* grey bg and white font on hover*/
    color: #fff;
}

.narrow {
    display: none;                              /* hide the icons on desktop mode*/
}

.content iframe {
    display: flex;
    bottom: 0;
    border: none;                               /* tweaking the size of the i-frame box*/
    align-items:center;
    height: 93.25vh;
    width: 85vw;
}

/*-------------------------
CSS STYLING OF THE I FRAMES
--------------------------*/

.bg {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;        /* for the effect, the bacgrounds are fixed*/
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.top, .bottom {
    min-height: 100vh;                  /* 1st and last pics fill the whole screen*/
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;                           /* captions are centered*/
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;                      /* black border and white font for the main captions*/
    font-size: 25px;
    letter-spacing: 8px;
}

.caption span.border.scroll {
    background-color: transparent;      /* no border for the scroll down caption*/
}

h2 {
    letter-spacing: 5px;
    text-transform: uppercase;          /* all cps titles!*/
    font-size: 20px;
    color: #111;
}

p {
    color: #777;
}

.info {
    color:#000;
    background-color:#fff;
    text-align:center;                  /* this is the basic text section*/
    padding:50px 80px;
    text-align: justify;
}

.intro {
    color: #777;
    background-color:white;
    text-align:center;                  /* this is the 1st text section*/
    padding:50px 80px;
    text-align: justify;
}

.about {
    font-size: 30px;
    font-family: serif;
    color: #777;                        /* specific to the "about" section serif for the wanted look*/
    background-color:white;
    text-align:center;
    padding:50px 5vw; 
}

.about a {
    font-size: 15px;                    /* making the legal link small*/
}

.contact {
    color: #777;
    background-color: #f5f5f5f5;
    text-align:left;
    padding:50px 20px;
}

.contact h2, .contact p{
    text-align:center;
}

.contact a {
    color: #444;
}

.intro h2 {
    text-align:center;
}

.textsep {
    position:scroll;
}

.sep {
    height: 10vh;
    background-color: white;
}

::-webkit-scrollbar {
    width: 0px;                     /*delete the scrollbar*/
}

/* --------------------------------------
get a bg image for every different class*/

/* profile.html */

.profile {
    background-image: url(bg/profil.jpg);
}

/* travels.html */

.road {
    background-image: url("bg/road.jpg");
}
.ireland {
    background-image: url("bg/ireland.jpg");
}
.pub {
    background-image: url("bg/pub.jpg");
}
.duomo {
    background-image: url("bg/duomo.jpg");
}
.roma {
    background-image: url("bg/roma.jpg");
}
.marrakesh {
    background-image: url("bg/marrakesh.jpg");
}
.atlas {
    background-image: url("bg/atlas.jpg");
}
.valpo {
    background-image: url("bg/valpo.jpg");
}
.gaucho {
    background-image: url("bg/gaucho.jpg");
}
.wall {
    background-image: url("bg/berlin-wall.jpg");
}
.alex {
    background-image: url("bg/alex.jpg");
}

/* skills.html*/

.skill {
    background-image: url("bg/skill.jpg");
}
.maze {
    background-image: url("bg/maze.jpg");
}
.youdied {
    background-image: url("bg/youdied.jpg");
}
.school {
    background-image: url("bg/school.jpg");
}
.teacher {
    background-image: url("bg/teacher.jpg");
}
.watercolor {
    background-image: url("bg/watercolor.jpg");
}
.drawing {
    background-image: url("bg/drawing.jpg");
}
.alleycat {
    background-image: url("bg/alleycat.jpg");
}
.f42 {
    background-image: url("bg/f42.jpg");
}

/* interests.html */

.interest {
    background-image: url("bg/interest.jpg");
}
.book {
    background-image: url("bg/book.jpg");
}
.cinema {
    background-image: url("bg/cinema.jpg");
}
.sotc {
    background-image: url("bg/sotc.jpg");
}
.flashback {
    background-image: url("bg/flashback.jpg");
}
.bitd {
    background-image: url("bg/bitd.jpg");
}
.shadowrun {
    background-image: url("bg/shadowrun.png");
}
.bike {
    background-image: url("bg/bike.jpg");
}
.climb {
    background-image: url("bg/climb.jpg");
}

/* contact.html */

.phone {
    background-image: url(bg/phone.jpg);
    
}
/* legalstuff.html */

.legal {
    background-image: url(bg/legal.jpg);
}

/*----------------------
CSS STYLING OF THE FORM
-----------------------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #fcfcfc;
  padding: 20px;
}

/*-----------------------------------
RESPONSIVE LAYOUT RESIZING THE WINDOW
-------------------------------------*/

@media only screen and (max-width: 700px) {

    nav {
        display: flex;
        align-items: center;
        height: 10vh;
        width: 100vw;
        background-color: white;
        border-bottom: 0.25vh solid black;
    }
    
    .content iframe{
        height: 83vh;
        width: 100vw;
    }
    
    .button {
        padding: 0vh 0vh;
        width: 20vw;
        overflow: hidden; 
    }
    
    .button:hover {
        text-decoration: none;
        color: grey;
        background-color: transparent;
    }
    
    .wide {
        display: none;
    }
    
    .narrow {
        display: block;
        font-size: 1.5em;
    }
    
}

/*-----------------------------------
RESPONSIVE LAYOUT FOR PHONE SCREENS
-------------------------------------*/

@media only screen and (max-device-width: 1024px){
    
    .bg {
        background-attachment: scroll;
    }
    
    nav {
        display: flex;
        align-items: center;
        height: 10vh;
        width: 100vw;
        background-color: white;
        border-bottom: 0.25vh solid black;
    }
    
    .content iframe{
        height: 83vh;
        width: 100vw;
    }
    
    .button {
        padding: 0vh 0vh;
        width: 20vw;
        overflow: hidden; 
        font-size: 1em;
    }
    
    .button:hover {
        text-decoration: none;
        color: grey;
        background-color: transparent;
    }
    
    .wide {
        display: none;
    }
    
    .narrow {
        display: block;
        font-size: 1.5em;
    }
    
    .caption span.border {
        padding: 9px;
        font-size: 15px;
        letter-spacing: 6px;
    }

    .heading h1 {
        font-size: 4.75vh;
    }
    
    h2 {
        letter-spacing: 3px;
        font-size: 13px;
    }

    .info {
        padding:50px 15px;
    }

    .intro {
        padding:50px 15px;
    }

    .about {
        font-size: 15px;
        padding:50px 15px; 
    }

    .about a {
        font-size: 8px;                    
    }

    .contact {
        padding:50px 15px;
    }
}