/* Use flexbox to display all divs in a row at the bottom of the container. 
Display divs on one line. */

body {
    display: flex;
    height: 400px;
    background: yellow;
    align-items: center;
}

div {
    height: 100px;
    width: 150px;
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}