body {
    box-sizing: border-box;
    margin: 0 auto;
}

.c0 {
    display: flex;
    flex-flow: row wrap; /* flex-flow is a shortcut: 
                            It combines "flex-direction" and "flex-wrap" */
}

.c0 {
    border: 2px solid red;
}

.c1 {
    background-color: purple;
}

.c2 {
    background-color: blueviolet;
}

.c3 {
    background-color: blue;
}

.c4 {
    background-color: green;
}

.c5 {
    background-color: yellow;
}

.c6 {
    background-color: darkorange;
}

.c7 {
    background-color: red;
}


