/* Use flexbox to align all divs in rows. 
Use wrap so that the divs appear on multiple lines. 
Center the entries in the container */

div {
    height: 100px;
    width: 200px; 
    background-color: darkgray;
    margin: 1em;
    border: 2px solid red;
    text-align: center;
}